# Large files, download them from website
data/*.zip
data/ml-32m/ml-32m/
data/ml-100k/

# PMF model
pmf/model/
a.out

# HBM model
hbm/model/  

resulttable
explain.txt

.DS_Store
*.pyc
*.pdf

local_files/.venv/
