# Large files, download them from website
data/*.zip
data/ml-32m/ml-32m/
data/ml-100k/

# PMF model
model/pmf_model_10.npz
model/pmf_model.npz
a.out

*.pyc
resulttable
explain.txt
.DS_Store

local_files/